*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.giftBoxPage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  
  .mainContainer {
    display: flex;
flex-direction: row;
  
    /* margin-left: 10%; */
    /* margin: 50px; */
    /* width: 941px; */
    padding-top: 48px;
    padding-bottom: 48px;
    gap: 12px;
  }
  
  .leftSection {

    max-width: 70%;
    padding: 1rem;
    border-right: 1px solid #ccc;
  }
  
  .rightSection {

    padding: 1rem;
  }
  
  .error {
    color: red;
  }

.hall_details{
    display: flex;
    flex-direction: column;
    gap: 17.25rem;
    
}
.noItems {
    text-align: center;
    font-size: 1.4rem;
    color: #777;
    font-weight: bold;
    margin-top: 20px;
}


.gokul_heading{
    display: flex;
    align-items: center;
    font-size: 4rem;
    justify-content: center;
    color: #E31E24;
    font-family: "Madimi One";
    font-weight: 400;
}


.backButton {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: transparent;
    border: none;
    color: #007BFF;
    font-size: 16px;
    cursor: pointer;
}

.backButton:hover {
    color: #0056b3;
}



.filtersection{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* flex-direction: row; */
}

.filters{
    width:500px;
    display: flex;
    gap:12px;
}

.gokul_heading{
  margin-top: 20px;
  margin-bottom: 10px;
}