*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: none;
}

.hall_details{
    display: flex;
    flex-direction: column;
    gap: 17.25rem;
    
}


/* .mainConatiner {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;

  } */

  .mainConatiner {
    background-size:auto;
    background-position: center;
    background-repeat: no-repeat;
    min-height: auto;
    position: relative;
    padding-top: 400px; /* <- Push content below heading/image */
  }
  
  
  .topRightImage {
    position: absolute;
    top: 20px;
    right: 70px;
    width: 390px; 
    height: 490px;
    z-index: 10;
  }
  
  .topRightHeading {
    position: absolute;
    max-width: 1000px;
    top: 150px;
    left: 160px; /* adjust depending on your image width */
    font-size: 2rem;
    color: rgba(212, 175, 55, 1);
    font-weight: 400;
    font-size: 100px;
    font-family: 'Madimi One';
    z-index: 10;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
  }
  
  
  .banquetsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    gap: 20px; /* spacing between cards */
    z-index: 5;
    position: relative;
}


 .hall_details {

display: flex;
justify-content: center;
align-items: center;
   
    margin-bottom: 40px;
    width: 100%;
} 

.mainConatiner {
    padding-bottom: 100px;
  }
  