.inputField {
  height: 50px;
  position: relative;
}

.input {
  font-size: 20px;
  color: #E31E24;
  font-weight: 700;
  height: 55px;
  border-radius: 70px;
  padding-left: 60px;
  justify-content: space-between;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  background-color: #FFE9E9;
}

.error {
  color: red;
  font-size: 14px;
  position: absolute;
  bottom: -25px;
  left: 10px;
}
.noIcon {
  padding-left: 20px !important;
}

.input::placeholder {
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  color: #4B4B4B;
  padding-right: 40px;
}

.inputIcon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 28px;
}

.eyeIcon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #E31E24;
}
@media (max-width: 1024px) {
  .inputField {
    height: auto; /* Allow flexibility */
    margin-bottom: 10px;
  }

  .input {
    height: 45px;
    font-size: 18px; /* Adjust text size */
    padding-left: 50px;
  }

  .inputIcon {
    width: 25px;
    height: 22px;
    left: 12px;
  }

  .eyeIcon {
    right: 15px; /* Adjust positioning */
  }
}

@media (max-width: 768px) {
  .input {
    height: 40px;
    font-size: 16px;
    padding-left: 40px;
  }

  .inputField {
    height: auto;
    margin-bottom: 8px;
  }

  .inputIcon {
    width: 20px;
    height: 18px;
    left: 10px;
  }

  .eyeIcon {
    right: 12px;
    font-size: 14px;
  }

  .error {
    font-size: 12px;
    bottom: -20px;
  }
}

@media (max-width: 480px) {
  .input {
    height: 35px;
    font-size: 14px;
    padding-left: 35px;
  }

  .inputField {
    height: auto;
    margin-bottom: 5px;
  }

  .inputIcon {
    width: 18px;
    height: 16px;
    left: 8px;
  }

  .eyeIcon {
    left: 110px;
    font-size: 12px;
  }

  .input::placeholder {
    font-size: 13px;
    padding-right: 15px;
  }

  .error {
    font-size: 10px;
    bottom: -15px;
  }
}