
.loader {

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
    transition: opacity 0.5s ease-in-out;
    z-index: 9999; 
    overflow: hidden; /* Ensure it's on top of other elements */
  }
  
  .loader p {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
  }
  
  
/* Filter Wrapper */
.filterWrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.filter {
  font-size: 1.9rem;
  cursor: pointer;
  color: #555;
}

.activeFilter {
  font-size: 1.9rem;
  cursor: pointer;
  color: #e31e24;
  border-bottom: 3px solid #e31e24;
}
  
  .container {
    flex-wrap: wrap;
    /* margin-left: 10%; */
    margin: 0 50px;
    width: 941px;
    
    padding-bottom: 48px;
    gap: 12px;
  }
      .header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      
        margin-bottom: 10px;
        flex-wrap: wrap;
        
        width: 941;
       height: 63;
        
      }
      
      .title {
        font-size: 15px;
        font-weight: 700;
        color:#4B4B4B;
        font-family: 'Inter';
        /* width: 342;
    height: 24; */
  
    justify-content: space-between;
    
        
      }
      .titleMain {
        font-size: 48px;
        font-weight: bold;
        color:#E31E24;
       
        font-family: Madimi One;
        font-weight: 400;
        font-size: 48px;
        line-height: 63.36px;
         letter-spacing: 0%;
         width: 941;
         height: 63
  
  
        
        
      }
      

      .quantityWrapper{
        display: flex;
        flex-direction: row;
     
        gap: 10px;
        margin-top: 20px;
      }
      
     /* Styles for Quantity Input */
.quantityInput {
  width: 100px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Styles for Checkbox Label */
.checkboxLabel {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  margin-top: 10px;
}

/* Styles for Textarea */
.textareaLabel {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

.textarea {
  width: 100%;
  height: 100px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 5px;
  resize: vertical;
}
      
    .viewMoreContainer{
      
        width: 253px;
        height: 41px;
        gap: 6px;
        padding-top: 6px;
        /* padding-right: 64px; */
        padding-bottom: 6px;
        padding-left: 64px;
        border-radius: 10.93px;
        border-width: 1px;      
        margin-left: 35%;
        margin-top: 20px;
        border: 1px solid red;
        color: #E31E24;
        font-family: Inter;
        font-weight: 700;
        font-size: 24px;
        line-height: 29.05px;
        letter-spacing: 0%;
  
  
  
    }
    .viewMoreContainer:hover {
      background-color: white;
    }
      
      
      
      
      .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 43px;
        margin-top: 10px;
        
    
      }
      .grid2 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 43px;
        
    
      }
      
      
    
    .card {
      background: white;
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      padding: 16px;
      font-size: 20px;
     
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      
   max-width: 304.5px;
  max-height: 467.75px;
  
    
    }
    .card:hover {
      transform: scale(1.05);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      
    }
    
    .image {
      width: 100%;
      
      /* object-fit: contain; */
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      /* max-width: 366px; */
      height: 248px;
      overflow: hidden;
  
      
    
    
    
    }
    
    .content {
      width: 100%;
      /* height: 194px; */
      /* padding: 12px; */
      border-bottom-right-radius: 30px;
      border-bottom-left-radius: 30px;
    }
      
      .content1 {
        display: flex;
        /* width: 256.5px; */
        height: 36px;
     /* padding: 15px 0; */
     padding: 8px 0;
        justify-content: space-between;
  
    
      }
      
      .ratingContainer {
        display: flex;
        justify-content: space-between;
        /* gap: 10px; */
        /* margin: 8px 0; */
      }
      
      .rating {
        display: flex;
        align-items: center;
        font-weight: bold;
        color: black;
      }
      
      .starIcon {
        width: 16px;
        height: 16px;
        margin-right: 4px;
      }
      
      .reviews {
        color: gray;
        font-size: 0.9rem;
      }
      
      .heartIcon {
        /* width: 20px;
        height: 20px; */
        margin-right: 20px;
        width: 19px;
       height: 17px;
    
      }
      
      .description {
        /* color: rgb(0, 0, 0);
        margin-bottom: 12px; */
        font-size: 11px;
        font-weight: 400;
        font-family: 'Inter';
        color: #4b4b4b;
        margin: 5px 0;
    
      }
      
      .footer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      
      .price {
        font-size: 18px;
        font-weight: 700;
        font-family: 'Inter';
        color: #4b4b4b;
      }
      
      .button {
        background: #E31E24;
        color: white;
        font-size: 10px;
        font-weight: 700;
        font-family: 'Inter';
        padding: 8px 12px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
      }
      
      .button:hover {
        background: darkred;
      }
     
    .addBoxButton{
      background: #E31E24;
      color: white;
      font-size: 10px;
      font-weight: 700;
      font-family: 'Inter';
      padding: 8px 12px;
      border-radius: 10px;
      border: none;
      cursor: pointer;

    }

    .addBoxButton:hover {
      background: darkred;
    }
  
  
      /* Responsive Design */
      @media (max-width: 768px) {
        .header {
          flex-direction: column;
          align-items: flex-start;
        }
      
        .grid {
          grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }
      
        .title {
          font-size: 20px;
        }
      
        
      }
      
      @media (max-width: 480px) {
        .grid {
          grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        }
      
        .title {
          font-size: 18px;
        }
      
        .button {
          padding: 6px 10px;
          font-size: 14px;
        }
      
        .header {
          flex-direction: column;
          align-items: center;
          text-align: center;
        }
      
        .viewAll {
          justify-content: center;
        }
      
        .card {
          padding: 12px;
        }
      
        .footer {
          flex-direction: column;
          gap: 8px;
        }
      }

      .backButton {
        padding: 20px 40px;
     
        background-color: transparent;
        border: none;
        color: #ff270b;
        font-family: 'Inter';
        font-size: 16px;
        cursor: pointer;
    }
    
    .backButton:hover {
        border-bottom: #333;
    }
    