.comingSoon {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 1.7rem;
    color: #777;
    font-weight: bold;
    margin-top: 20px;
}

.heading {
    font-weight: 400;
    font-size: 2.5rem;
    color: #E31E24;
    text-align: center;
    font-family: "Madimi One";
}